extends ../layout

block title
  | Contact | CSSoc

block append head
  link(rel='stylesheet', href='/assets/css/contact.min.css', type='text/css')

block content
  section#contact
    h1
      | Contact
    .contact-form
      form(method='post', action='#')
        .user-details
          .user-name
            input(type='text', name='name', placeholder='Your Name (Optional)')
          .user-email
            input(type='text', name='email', placeholder='Your Email (Optional)')
        .message
          textarea(name='message', placeholder='Message')
        .actions
          ul
            li
              input.submit-button(type='submit', value='Send Message')
            li
              input.reset-button(type='reset', value='Clear Form')