extends ../layout

block title
  | Contact | CSSoc

block append head
  link(rel='stylesheet', href='/assets/css/submit-message.min.css', type='text/css')

block content
  section#contact
    h1
      | Contact
    .submission-response
      p= message