extends ../layout

block title
  | Gallery | CSSoc

block append head
  link(rel='stylesheet', href='/assets/css/gallery.min.css', type='text/css')

block content
  section#gallery
    h1
      | Gallery
    .albums
      each album in albums
        a.album(href='/gallery/#{album.id}')
          div(style='background-image: url("/assets/images/gallery/#{album.id}/_.thumbnail.jpg")')
            div
              h2= album.name