nav#desktop-menu
  ul
    li
      a(href='events')
        | Events
    li
      a(href='committee')
        | Committee
    li
      a(href='gallery')
        | Gallery
    li
      a(href='contact')
        | Contact