header#desktop-large-header
  h1
    | Computer Science Society
  h2
    | The University of Manchester
  if event
    a(href='https://www.facebook.com/events/#{event.id}')
      | #{event.name}
      br
      | #{event.date}