header#desktop-header
  h1
    | Computer Science Society
  h2
    | The University of Manchester
  a(href='https://www.facebook.com/events/1575062392723257/')
    | CS Soc Pub Quiz @ The Grove
    br
    | 10 December at 7:30pm