title
  block title
    | CSSoc
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='The website of the Computer Science Society (CSSoc) from The University of Manchester.')

// Icon for Microsoft devices.
meta(name='msapplication-config' content='/assets/images/icons/browserconfig.xml')
meta(name='msapplication-TileColor', content='#660099')
meta(name='msapplication-TileImage', content='/assets/images/icons/ms-icon-144x144.png')

// Chrome header bar color for Android.
meta(name='theme-color', content='#660099')

// Facebook preview information.
meta(property='og:title', content='Computer Science Society (CSSoc)')
meta(property='og:type', content='website')
meta(property='og:image', content='cssoc.azurewebsites.net/assets/images/icons/facebook.jpg')

link(rel='icon', type='image/png', sizes='16x16', href='/assets/images/icons/favicon-16x16.png')
link(rel='icon', type='image/png', sizes='32x32', href='/assets/images/icons/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='/assets/images/icons/favicon-96x96.png')
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')
link(rel='stylesheet', type='text/css', href='/assets/css/style.min.css')