nav#mobile-menu
  -
    var menu = [
        { name: 'Events', tag: 'events' },
        { name: 'Committee', tag: 'committee' },
        { name: 'Gallery', tag: 'gallery' },
        { name: 'Contact', tag: 'contact' }
    ];
  .aspect-ratio-1-1
    .tiles
      each item in menu
        a(href='/#{item.tag}', style='background-image: url("/assets/images/index/#{item.tag}.png")')
          div
            h2= item.name