footer
  .sponsors
    ul
      li
        a(href="https://mlh.io/")
          img(src="assets/images/sponsors/mlh.png", alt="Major League Hacking")
      li
        a(href="https://www.credit-suisse.com/")
          img(src="assets/images/sponsors/credit-suisse.png", alt="Credit Suisse")
      li
        a(href="http://www.intel.com/")
          img(src="assets/images/sponsors/intel.png", alt="Intel")
  .social-media
    ul
      li
        a(href="https://twitter.com/cssoc")
          img(src="assets/images/social-media/twitter.png", alt="Twitter")
      li
        a(href="https://facebook.com/cssoc.man/")
          img(src="assets/images/social-media/facebook.png", alt="Facebook")
      li
        a(href="https://github.com/cssoc")
          img(src="assets/images/social-media/github.png", alt="GitHub")
  .copyright
    | &copy; 2015 CSSoc        