nav#mobile-menu
  .aspect-ratio-1-1
    .tiles
      a(href="events", style="background-image: url('assets/images/index/events.png')")
        div
          h2
            | Events
      a(href="committee", style="background-image: url('assets/images/index/committee.png')")
        div
          h2
            | Committee
      a(href="gallery", style="background-image: url('assets/images/index/gallery.png')")
        div
          h2
            | Gallery
      a(href="contact", style="background-image: url('assets/images/index/contact.png')")
        div
          h2
            | Contact