extends layout

block append css
  link(rel="stylesheet", href="assets/css/events.css", type="text/css")

block content
  section#events
    h1
      | Events
    ul
      - for (var eventIndex = 0; eventIndex < 10; ++eventIndex)
        li
          a.event(href="https://www.facebook.com/")
            img(src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg")
            .description
              h2
                | Event Name
              p.location
                | Lorem Ipsum Dolor Kilburn Building Lorem Ipsum Dolor Kilburn Building Lorem Ipsum Dolor Kilburn Building
              p.date
                | 15 September at 8:30pm