doctype html
html
  head
    title!= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', type='text/css')
    link(rel='stylesheet', href='assets/css/style.min.css')
  body
    include shared/desktop-menu
    include shared/desktop-header
    include shared/mobile-header
    include shared/mobile-menu
    include shared/footer