doctype html
html
  head
    include shared/head-tags
    link(rel='stylesheet', href='/assets/css/index.min.css', type='text/css')
  body
    include shared/desktop-menu
    include shared/desktop-large-header
    include shared/mobile-header
    include shared/mobile-menu
    include shared/footer