doctype html
html
  head
    include shared/head-tags
    block head
  body
    include shared/desktop-menu
    include shared/desktop-header
    include shared/mobile-header
    block content
    include shared/footer
    block scripts