#desktop-container {
    display: inherit;
    padding: 0 130px; padding: 0 14vw;
    margin: 30px 0;
    text-align: center;
    height: 700px;
}

    #desktop-container .scrolling {
        display: inline-block;
        width: 15%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        white-space: nowrap;
    }

        #desktop-container .scrolling img {
            display: block;
            width: 100%;
            padding: 1px 0;
            cursor: pointer;
        }

    #desktop-container .display {
        display: inline-block;
        position: relative;
        top: -100%;
        width: 85%;
        font-size: 0;
    }

        #desktop-container .display img {
            display: block;
            position: absolute;
            max-width: 99%;
            max-height: 700px;
            margin: 0 0.5%;
        }


#mobile-container {
    display: none;
}


/* Mobile */
@media screen and (max-width: 736px) {
    #desktop-container {
        display: none;
    }


    #mobile-container {
        display: inherit;
        margin-bottom: 20px;
    }

        #mobile-container .display {
            background-color: #ddd;
            height: 250px; height: 40vh;
            text-align: center;
            font-size: 0;
            padding: 1%;
        }

            #mobile-container .display img {
                max-width: 98%;
                max-height: 250px; max-height: 40vh;
            }

        #mobile-container .scrolling {
            background-color: #ccc;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }

            #mobile-container .scrolling img {
                display: inline-block;
                width: 90px;
                height: 90px;
                margin: 0 1px;
            }
}