#desktop-container {
    display: inherit;
    padding: 0 130px; padding: 0 14vw;
    margin: 30px 0;
    text-align: center;
    height: 700px;
}

    #desktop-container .scrolling {
        display: inline-block;
        width: 15%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        white-space: nowrap;
    }

        #desktop-container .scrolling img {
            display: block;
            width: 94%;
            margin: 3%;
        }

    #desktop-container .display {
        display: inline-block;
        width: 85%;
        font-size: 0;
    }

        #desktop-container .display img {
            max-width: 100%;
            max-height: 100%;
        }


#mobile-container {
    display: none;
}


/* Mobile */
@media screen and (max-width: 736px) {
    #desktop-container {
        display: none;
    }


    #mobile-container {
        display: inherit;
        margin-bottom: 20px;
    }

        #mobile-container .display {
            background-color: #ddd;
            font-size: 0;
        }

            #mobile-container .display img {
                max-width: 98%;
                margin: 1%;
            }

        #mobile-container .scrolling {
            background-color: #ccc;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            padding: 2px;
        }

            #mobile-container .scrolling img {
                display: inline-block;
                width: 90px;
                height: 90px;
                margin: 4px;
            }
}