/* Desktop */
#desktop-container {
    display: inherit;
    padding: 30px 130px; padding: 30px 14vw;
}

    #desktop-container .wrapped-container {
        height: 700px;
        background-color: #000;
        padding: 2px;
    }

    #desktop-container .scrolling {
        display: inline-block;
        width: 15%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

        #desktop-container .scrolling img {
            display: block;
            width: 100%;
            margin: 2px 0;
            cursor: pointer;
        }

            #desktop-container .scrolling img:first-child {
                margin-top: 0;
            }

            #desktop-container .scrolling img:last-child {
                margin-bottom: 0;
            }

    #desktop-container .display {
        display: inline-block;
        position: relative;
        top: -100%;
        width: 85%;
        font-size: 0;
    }

        #desktop-container .display img {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            position: absolute;
            max-width: 100%;
            max-height: 700px;
            padding-left: 2px;
        }


.display .left, .display .right {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 50%;
    height: 700px;
    cursor: pointer;
}

    .display .left:hover {
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
        background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
        background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
    }

    .display .right:hover {
        background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
        background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
    }


.display .right {
    left: 50%;
}


#mobile-container {
    display: none;
}


/* Mobile */
@media screen and (max-width: 736px) {
    #desktop-container {
        display: none;
    }


    #mobile-container {
        display: inherit;
        padding: 30px 0;
    }

        #mobile-container .display {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #000;
            height: 250px; height: 40vh;
            font-size: 0;
        }

            #mobile-container .display img {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                max-width: 100%;
                max-height: 250px; max-height: 40vh;
                margin: 3px;
            }

        #mobile-container .scrolling {
            background-color: #000;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }

            #mobile-container .scrolling img {
                display: inline-block;
                width: 90px;
                height: 90px;
                margin: 0 1px;
            }


    .display .left, .display .right {
        height: 40vh;
    }
}